@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap');

html,
body,
.view {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  background-color: rgb(26, 26, 26);
  color: white;
}


h1, h2, h3, h4, h5, h6, p {
  font-family: monospace;
  letter-spacing: 1.7px;
  color: white;
}

a {
  text-decoration: none;
}

.content {
  padding: 2rem;
  margin: 1rem 2rem;
}

.card {
  text-align: center;
  margin: 2rem 1rem;
  opacity: 0.8;
  padding: 2rem;
  color: #000;
  min-height: 250px;
  background-image: linear-gradient(260deg, rgb(70, 230, 169) 0%, rgb(24, 89, 172) 100%);
  border: none;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}


.card:hover{
  opacity: 1;
  box-shadow: 5px 10px 10px rgb(117, 212, 215);
  margin: 1.5rem 0.7rem;
  transition: margin 0.3s ease-in;
}


header {
  background-image: url("../img/shivom.jpeg");
  min-height: 100%; 
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(100%);
  box-shadow: 10px 10px 50px #000
}

.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
  background-color: white;
  border: 1rem solid white;
}

.content-card {
  max-width: 85%;
  margin: 6rem 2rem;
  padding: 2rem 1rem;
  background: #171717 !important;
  box-shadow: 10px 10px 50px 0px #000;
  min-height: 200px;
  align-content: left;
  transition: max-width 0.8s ease-out;
  opacity: 0.8;
}

.content-card:hover {
  max-width: 100%;
  opacity: 1;
  box-shadow: 10px 10px 50px 10px #000;
  transition: max-width 0.8s ease-out;
}

.Title {
  font-family: 'Skranji', cursive;
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.description {
  font-weight: bolder;
  letter-spacing: 0.5rem;
  opacitiy: .8;
}

.normal-text {
  font-size: 18px;
  padding: 0 1rem;
}

.small-heading {
  font-size: 20px;
  color: #1ab97d;
  font-weight: bold;
}

.about-title {
  font-size: 2rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-left: 1rem;
  font-weight:bold;
  color: #1ab97d;
  font-family: 'Skranji', cursive;
  border-left: 10px solid #484848;
}


.profile {
  padding-left: 2rem;
}

#profile-photo {
  max-width: 100%;
  max-height: 100%;
}

.shape {
  margin: 1rem 2.5rem;
  display: block;
  width: 128px;
  height: 180px;
  position: fixed;
  z-index: -1;
  background-color: #6adcf7;
  transform: rotate(230deg);
  border-radius: 60% 40% 30% 60% / 70% 70% 30% 30%;
}


footer {
  /* height: 35%; */
  background-color: black;
  width: auto;
}

footer .footer-content {
  padding: 4rem;
  box-shadow: 10px 0px 50px #000
}

.hor-ul {
  list-style-type: none;
  border-bottom: 2px;
  text-align: center;
  background-color: black;
  padding: 0;
}

.hor-li {
  display: inline-block;
  font-size: 20px;
  color: white;
  padding: 0.3rem;
}

.hor-li a {
  display: block;
  color: white;
  text-align: center;
  margin: 0.5rem;
  padding: 1rem;
  text-decoration: none;
}

.hor-li a:hover
 {
  background-color: #1ab97d;
  color: black;
  border-radius: 5px;
  transition: color 0.6s ease-in;
}



@media only screen and (max-width: 786px) {
  .content {
    padding: 0;
    margin: 2rem 0;
  }

  .content-card {
    padding: 1rem;
    margin: 3rem 1rem;

  }

  .about-title {
    font-size: 2rem;
    writing-mode: unset;
    text-orientation: unset;
  }

}


@media only screen and (max-width: 540px) {
  
  h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 0.5px;
  }

  header {
    background-attachment: scroll;
  }

  .content {
    padding: 0;
    margin: 1.5rem 0;
  }

  .Title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .about-title {
    font-size: 2rem;
    writing-mode: unset;
    text-orientation: unset;
  }

  .small-heading {
    font-size: 16px;
  }

  .normal-text {
    font-size: 14px;
  }

  .content-card {
    max-width: 100%;
    padding: 1rem;
    margin: 3rem 0;
    opacity: 1;
  }

  .card {
    margin: 2rem 1rem;
    transition: margin 0.3s ease-in;
  }

  .card:hover{
    margin: 2rem 0.7rem;
    transition: margin 0.3s ease-in;
  }


  footer .footer-content {
    padding: 2rem;
  }

  .hor-li a {
    margin: 0.1rem;
    padding: 0.3rem;
  }
}